%footer
  %p
    &copy; 2015 Code for Chiba

  %ul
    %li
      = link_to "https://www.facebook.com/codeforchiba" do
        %i.fa.fa-facebook-square
    %li
      = link_to "https://github.com/codeforchiba" do
        %i.fa.fa-github-square