%footer
  %p
    &copy; 2015 Code for Chiba

  %ul
    %li
      = link_to "https://www.facebook.com/codeforchiba", target: "_blank" do
        %i.fa.fa-facebook-square
    %li
      = link_to "https://twitter.com/code4chiba", target: "_blank" do
        %i.fa.fa-twitter-square
    %li
      = link_to "https://github.com/codeforchiba", target: "_blank" do
        %i.fa.fa-github-square