%header
  %nav
    %ul
      %li
        = link_to "https://medium.com/@code4chiba", target: "_blank" do
          Blog

  #header-main
    = link_to "index.html" do
      %h1
        Code for Chiba

    %ul
      %li
        About
      %li
        Apps
      %li
        = link_to "catalog.html" do
          Data Catalog
