%header
  %nav
    %ul
      %li
        Blog

  #header-main
    %h1
      = link_to "index.html" do
        Code for Chiba

    %ul
      %li
        About
      %li
        Apps
      %li
        = link_to "catalog.html" do
          Data Catalog
