%meta{property: "og:title", content: current_page.data.title || data.site_info.title}
%meta{property: "og:site_name", content: data.site_info.title}
%meta{property: "og:type", content: "website"}
%meta{property: "og:url", content: "http://#{data.site_info.host}#{current_page.url}"}
%meta{property: "og:description", content: current_page.data.description || data.site_info.description}
%meta{property: "og:image", content: "http://#{data.site_info.host}/images/ogp_image.jpg"}
