%cover-image {
  position: relative;

  background-size: cover;
  background-position: center;

  filter: grayscale(70%);

  h1 {
    position: absolute;

    font-size: 32pt;
    text-shadow: 0px 0px 2px $white;
  }

  @include respond-to(wide-screen) {
    height: 400px;
    min-width: $vp-pc-min-width;
  }

  @include respond-to(tablet) {
    height: 400px;
    min-width: $vp-hsp-max-width;
  }

  @include respond-to(smartphone) {
    height: 200px;
    background-position: 50% 100%;
  }
}
