footer {
  @include clearfix;

  border-top: 8px solid $chiba-blue;
  background-color: $silver;

  padding: 20px 0px 12px 98px;

  background-image: image-url("icon.png");
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: top 10px left 10px;

  p {
    height: 50px;
    line-height: 48px;

    padding-right: 68px;
  }

  ul {
    float: right;

    @include clearfix;
    margin: 12px 20px 0 0;

    li {
      float: left;

      a {
        > i.fa {
          font-size: 24pt;
        }

        span.fa-stack {
          i {
            &.fa-inverse {
              color: $silver;
            }

            &.fa-stack-2x {
              font-size: 24pt;
            }
          }

          &.medium {
            width: 1.8em;
            height: 1.8em;
            line-height: 1.8em;

            i.fa-stack-1x {
              font-size: 14pt;
              line-height: 1.8em;
            }
          }
        }
      }

      & + li {
        margin-left: 10px;
      }
    }
  }

  @include respond-to(wide-screen) {
    p {
    }
  }

  @include respond-to(tablet) {
    p {
      background-position: top 50% right 5px;
    }
  }

  @include respond-to(smartphone) {
    p {
      font-size: 12pt;
      text-align: center;

      padding-right: 0;

      background-position: top 50% right 5px;
    }
  }
}