header {
  #header-main {
    position: relative;
    @include clearfix;

    h1 {
      float: left;

      margin: 3px 0 0 20px;
      text-indent: -9999px;

      background-image: url("/images/logo.png");
      background-size: contain;
    }

    ul {
      position: absolute;
      @include clearfix;

      right: 20px;
      bottom: 10px;

      margin: 0;

      li {
        float: left;

        color: $usuzumi;
        font-size: 15pt;

        margin: 0 0 0 20px;
        padding: 0;
        line-height: 1.5;
      }
    }

    @include respond-to(wide-screen) {
      min-width: $vp-pc-min-width;
      height: 102px;
      padding-top: 26px;

      h1 {
        width: 410px;
        height: 96px;
      }
    }

    @include respond-to(tablet) {
      min-width: $vp-hsp-max-width;
      height: 102px;

      h1 {
        width: 320px;
        height: 75px;
      }

      ul {
        bottom: 2px;
      }
    }

    @include respond-to(smartphone) {
      height: auto;

      h1 {
        float: none;
        margin: 0 auto;

        width: 246px;
        height: 58px;
      }

      ul {
        position: static;

        li {
          float: none;

          text-align: right;

          margin: 0 10px 0 0;
          line-height: 2.0;
        }
      }
    }
  }
}
