---
title: "About"
description: "NPO法人 Code for Chiba の活動内容の紹介です。"
---

#about
  %section#about-cover
    .cover
      %h1
        About

    .contents
      %p
        Code for Chiba は、活動を開始して 3年目を向かえた 2017年に NPO法人となりました。当初からの活動の目的は変わりませんが、目的を達成するための活動内容を事業として整理しました。

  %section#about-overview
    %h1 NPO法人 Code for Chiba

    %h2 ミッション

    %p
      テクノロジーを活用して、千葉市をよりよい街にする

    %h2 行動指針

    %ul
      %li
        %p
          テクノロジーを活用し、街の課題を解決する
      %li
        %p
          市民のリテラシーを高め、テクノロジーの恩恵を全市民に

    %h2 設立

    %p
      2017年4月7日(活動開始 2015年1月31日)

  %section#about-business
    %h1 事業内容

    %h2 メディア・サービス事業

    %p
      ICT を活用したメディア・サービスを開発し、提供する。

    %ul#projects
      %li
        %p.cover
          = link_to "http://festival.code4chiba.org/", target: "_blank" do
            = image_tag "festival.jpg"
        %p.title
          千葉市お祭りデータセンター
      %li
        %p.cover
          = link_to "http://papamama.code4chiba.org/", target: "_blank" do
            = image_tag "papamama.jpg"
        %p.title
          ちば保育園マップ

    %h2 地域ICT活用支援事業

    %ul
      %li
        %p
          市の進めるビッグデータ・オープンデータ活用の推進及びICT活用を支援する。
      %li
        %p
          ICTリテラシを高め、ICTによる恩恵を享受できるように支援する。

    %h2 教育・支援事業

    %p
      プログラミング教室を通じて、ICTリテラシの向上と必要な技術の習得を支援する。
