
    %ul
      %li
        = link_to "http://fukuno.jig.jp/2014/findrefuge-chiba", target: "_blank" do
          %i.fa.fa-external-link
          避難所ナビ(千葉市)

      %li
        = link_to "http://fukuno.jig.jp/2013/popchiba", target: "_blank" do
          %i.fa.fa-external-link
          千葉市の人口動態ビジュアライズ

      %li
        = link_to "http://festival.code4chiba.org/", target: "_blank" do
          %i.fa.fa-external-link
          千葉市お祭りデータセンター

      %li
        = link_to "http://papamama.code4chiba.org/", target: "_blank" do
          %i.fa.fa-external-link
          ちば保育園マップ
